<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-2">Virtual Scroll</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <app-myvirtualscroll></app-myvirtualscroll>
        </div>
    </div>
    <hr />

    <div class="row mt-5">
        <div class="col-12">
            <h1 class="display-2">Drag and Drop</h1>
        </div>
        <div class="col-12">
            <app-draganddrop></app-draganddrop>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-12">
            <h1 class="display-2">Countries Drag and Drop</h1>
        </div>
    </div>
    <div class="col-6">
        <app-dragcountries></app-dragcountries>
    </div>
</div>