.box{
    width: 200px;
    height: 200px;
    box-shadow: 0 2px 10px rgb(50 50 93 / 20%);
    border-radius: 4px;
    cursor: move;
    
    display: flex;
    justify-content: center;
    align-items: center;
}